# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/learn_language_by_songs?schema=public"
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=learn_language_by_songs

# Backend Configuration
PORT=3000
JWT_SECRET="your-super-secret-key-change-me"

# Frontend Configuration
ALLOWED_ORIGINS="http://localhost:4200"
